@import "tailwindcss";

:root {
  font-family: "Segoe UI";
  font-size: 16px;

  color: var(--content-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-rose: #F8719D;
  --brand-pink: #CB9AD2;
  --brand-lavender: #BBB3D9;
  --brand-blue: #ABC2E2;
  --brand-green: #9BBCC3;

  /* Content */
  --content-primary: #3D3B3B;
  --content-secondary: #627091;
  --content-tertiary: #9698B8;
  --content-inverse: #FFFFFF;

  /* Background */
  --background-fixed-white: #FFFFFF;
  --background-fixed-black: #3D3B3B;
  --background-aurora: linear-gradient(45deg, #ABC2E2 0%, #BBB3D9 50%, #CB9AD2 100%);

  /* Accent */
  --accent-green: #42CFB7;
  --accent-red: #D5529E;
  --accent-yellow: #E2AD26;

}

@theme {
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
  margin: 0;
  display: flex;
  place-items: left;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700; /* bold */
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600; /* semibold */
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  font-weight: 600; /* semibold */
  line-height: 1.2;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600; /* semibold */
  line-height: 1.3;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/src/assets/fonts/segoeui.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/src/assets/fonts/seguisb.ttf') format('truetype');
  font-weight: 600; /* semibold */
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/src/assets/fonts/seguisbi.ttf') format('truetype');
  font-weight: 600; /* semibold italic */
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/src/assets/fonts/segoeuib.ttf') format('truetype');
  font-weight: 700; /* bold */
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/src/assets/fonts/segoeuisl.ttf') format('truetype');
  font-weight: 300; /* light */
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/src/assets/fonts/seguili.ttf') format('truetype');
  font-weight: 300; /* light italic */
  font-style: italic;
}